/*-- scss:defaults --*/

/*-- scss:rules --*/

h1 {
  color: #FFFFFF;
}

p.subtitle.lead {
  color: #FFFFFF;
}

/* Footnotes ------------------------------------------------------ */


#footnotes {
  font-size: 12px;
}
